/********HACK RI********/
/****TEAM BLACKBERRY****/
/***********************/

body {
  background-color: #052A44 !important;
  color: white !important;
}
body button {
  color: #222;
}
body h2 {
  color: white
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin: 0 auto;
}

#initial-buttons {
  float:right;
  display: flex;
  flex-direction: column;
}

.stars {
  height: 30px;
}

button {
  background-color: white;
  width: 170px;
  cursor: pointer;
  border: 1;
  padding: 10px 25px;
  font-size: 16px;
}

#logo {
  width: 200px;
}
.block-list li>a, .block-list li>label, .block-list li>span {
  color: #fff !important;
}
